obj
bin
.vs
logs
upload
data1
/db/*.sqlite
/appsettings.json
/Properties/PublishProfiles/fn.pubxml.user
/Properties/PublishProfiles/*.user
/db/database.json
/db/database-migration-history.json
/db/database-migration-status.json
